.root {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 5px 20px;
    align-items: center;

    .user {
        display: flex;
        font-weight: 500;
        font-size: 17px;
        svg {
            fill: var(--text);
            margin-left: 5px;
        }
    }
}
