.status {
    position: relative;
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-weight: 500;

    .check {
        position: absolute;
        top: 0;
        fill: var(--primary);
    }

    .checkbox {
        display: block;
        width: 22px;
        height: 22px;
        border: 1px solid var(--primary);
        border-radius: 5px;
    }
}