.selectSort {
    display: flex;
    align-items: center;
    transition: all 0.5s;
    color: var(--text);
    cursor: pointer;
    font-weight: 500;

    option {
        background-color: var(--background);
    }

    &:hover {
        color: var(--primary);

        svg {
            transform: rotateX(180deg);
            fill: var(--primary);
        }
    }

    svg {
        transition: all 0.5s;
        margin-right: 10px;
        fill: var(--text);
    }
}
