@import "../../styles/variables.scss";

.root {
    display: flex;
    flex-direction: column;
    background-color: $background;
    padding: 15px;
    border-radius: 15px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .sorting {
            background-color: $black;
            padding: 10px 15px;
            border-radius: 15px;
            display: flex;
            gap: 15px;
        }
        margin-bottom: 20px;
    }

    .addNewTask {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;

        .modal {
            display: flex;
            flex-direction: column;
            background-color: $black;
            padding: 15px;
            border-radius: 15px;

            svg {
                align-self: flex-end;
                margin-bottom: 10px;
                cursor: pointer;
            }

            form {
                input {
                    border: 1px solid $primary;
                    padding: 7px 10px;
                    border-radius: 15px;
                }
                display: flex;
                gap: 20px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        button {
            background-color: $primary;
            border: 1px solid $primary;
            color: $white;
            border-radius: 15px;
            font-weight: 600;
            cursor: pointer;
            width: 100px;
            padding: 6px;
        }
    }

    .tasks {
        display: flex;
        gap: 20px;
        flex-direction: column;

        .task {
            display: flex;
            flex-direction: column;
            border: 1px solid $primary;
            padding: 15px;
            gap: 10px;
            border-radius: 15px;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.02);
            }

            &__top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    opacity: 0.5;
                }
            }

            .time {
                display: flex;
                svg {
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }
    }
    .noTasks {
        margin: 20px 0;
        text-align: center;
        opacity: 0.7;
    }
}
